<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>
    <div class="container">
      <form  action="/ta02/addUser" method="POST">
        <div class="form-control">
            <label for="userName">New user </label>
            <input type="text" name="userName" id="userName">
        </div>

        <button class="btn" type="submit">Add User</button>
    </form>
    </div>

    <% if (usrs.length > 0) { %>
      <div class="grid">
          <% for (let user of usrs) { %>
              <article>
                  <header class="card__header">
                      <h1 class="product__title"><%= user%></h1>
                  </header>    
                  <div>
                    <form action="/ta02/removeUser" method="POST">
                      <button class="btn">Remove User</button>
                      <input type="hidden" value="<%= user%>" name="UserToDelete">
                    </form>
                  </div>
              </article>
          <% } %>
      </div>
  <% } else { %>
      <h1>No Products Found!</h1>
  <% } %>

</body>

</html>